body,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
}

.emojiContainer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.emoji {
  cursor: pointer;
  margin: 1em;
  padding: 1em;
  transition: all ease 200ms;
  font-size: 1.5em;
  user-select: none;
}
.emoji:hover {
  transform: scale(1.2);
}
header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  right: 2em;
  top: 2em;
  z-index: 2;
}
#chaos {
  margin-right: 1em;
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.425);
  cursor: pointer;
  transition: all ease 200ms;
  padding: 1em;
}
#chaos:hover {
  /* color: #f44336; */
  transform: translateY(-0.5em);
  color: black;
}

#settings {
  position: relative;
}
#settingWheel {
  cursor: pointer;
}

#settings img:hover {
  transform: rotate(45deg);
}
#settings img {
  width: 2em;
  height: auto;
  transition: all 200ms ease;
}
#settingsContainer {
  position: absolute;
  top: 3em;
  right: 0;
  min-width: 20em;
  padding: 1.5em 0;
  border: none;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(192, 192, 192, 0.658);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
}
.settingItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 1em 0;
}
.settingItem p {
  min-width: 7em;
  text-align: left;
}
#input-duration,
#input-scale {
  width: 4em;
  border: none;
  font-size: 1em;
}
h2 {
  margin-left: 1.5em;
  width: 80%;
}

.toggle {
  width: 3em;
  height: 1.4em;
  position: relative;
  display: inline-block;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.15em solid black;
  border-radius: 2em;
  cursor: pointer;
  transition: all ease 200ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle input {
  opacity: 0;
  height: 0;
  width: 0;
}
.slider::before {
  content: "";
  background-color: black;
  border-radius: 50%;
  position: relative;
  margin: 0 0.1em;
  height: 1em;
  width: 1em;
  transition: all ease 200ms;
  top: 0.02em;
}

.toggle input:checked + .slider::before {
  transform: translateX(1.6em);
  background: white;
}
.toggle input:checked + .slider {
  background: black;
}
